body {
    margin: 0;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient( circle at center, #df8e9a, #8a2be2);
    overflow: hidden;
}
h1 {
    position: absolute;
    top: 100px; /* Ajuste conforme necessário para alinhar com a imagem */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Compensa a centralização horizontal */
    color: #fff; /* Cor do texto para visibilidade */
    background-color: rgba(101, 25, 25, 0.5); /* Fundo semitransparente para legibilidade */
    padding: 10px; /* Espaçamento interno */
    margin: 0; /* Remove margens */
    font-size: 30px; /* Ajuste o tamanho da fonte conforme necessário */
    z-index: 10; /* Garante que o título fique acima da imagem */
    font-family: 'Courier New', Courier, monospace;
}

.image-container {
    margin-top: 100px; /* Cria espaço para o <h1> acima da imagem */
    text-align: center; /* Centraliza a imagem */
}

.image-container img {
    width: 300px;/* Faz a imagem ocupar toda a largura do contêiner */
    height: 400px; /* Mantém a proporção da imagem */
}
.starburst {
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #71121a, #af2a13);
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
    animation: rotateScale 3s infinite ease-in-out;
    will-change: transform, opacity;
    z-index: 10;
}
h1 {
    font-size: 20pt;
    color: rgb(54, 13, 13);
    margin: top 65px;
    margin-left: 20px;
}

button {
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 10px;
    width: 150px;
    height: 70px;
    background-color: #0ad587;
}

